{% extends "base/head.html" %}

{% load static %}
{% block content %}
<head>
    <style>
        body {
            background-color: #f5f5f5;
        }
        .gpa-summary, .primary-curriculum {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .summary-header {
            font-weight: bold;
            margin-bottom: 15px;
        }
        .gpa-summary .summary-box, .primary-curriculum .summary-box {
            margin-bottom: 15px;
        }
        .coursework {
            margin-top: 20px;
        }
        table {
            background-color: #ffffff;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }
        .final-grade {
            border-radius: 50%;
            background-color: #f0f0f0;
            width: 35px;
            height: 35px;
            display: inline-block;
            line-height: 35px;
            font-weight: bold;
        }
        .term-dropdown {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Student Records</li>
        </ol>
      </nav>
    <div class="col-lg-4">
        <!-- Student Info Card -->
        <div class="mb-4">
            <div class="profile-card p-4 justify-content-center text-center">
                <div class="card-body">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <img src="{% static 'image/profile.jpg' %}" style="width: 100px" class = "card-img-top rounded-circle profile-photo" alt="Profile Photo">
                        <h5 class="card-title mt-3">Nuraika Kalmatova</h5>
                        <p class="card-text">ID Number: 900344488</p>
                        <p class="text-muted mb-4">Status: <span class="badge bg-success">Active</span></p>

                        <p class="card-text"><i class="bi bi-envelope"></i> nkalmato@iwu.edu</p>
                        <p class="card-text"><i class="bi bi-geo"></i> 1207 1/2 N. Main Street, Bloomington, IL 61701</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Payment Method Card -->
        <!-- Student Status Card -->
        <div class="card mb-4">
            <div class="card-header">
                <h5><i class="fas fa-graduation-cap text-white"></i>Degree Information</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <h6>Current Program:</h6>
                    <p class="card-text">Bachelor of Science in Finance</p>
                </div>
                <div class="mb-3">
                    <h6>Year of Study:</h6>
                    <p class="card-text">Senior</p>
                </div>
                <div class="mb-3">
                    <h6>Advisor:</h6>
                    <p class="card-text">Dr. Robert Irons</p>
                </div>
            </div>
        </div>
        <div class="gpa-summary">
            <div class="card-header">
                <h5><i class="fas fa-graduation-cap text-white"></i>Academic Information</h5>
            </div>
            <div class="summary-box">
                <p><strong>Institutional:</strong> 3.88</p>
                <p><strong>Transfer:</strong> 0.00</p>
                <p><strong>Cumulative:</strong> 3.88</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container mt-4">
              <div class="progress-tracking">
                <div class="summary-header">Degree Progress</div>
                <div class="summary-box">
                    <p><strong>Credits Completed:</strong> 23/32 (72%)</p>
                    <p><strong>Required Credits:</strong> 32</p>
                    <div class="progress">
                        <div class="progress-bar success" role="progressbar" style="width: 72%; background-color: #198754;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">72%</div>
                    </div>
                </div>
            </div>
            <div class="upcoming-deadlines">
                <div class="summary-header">Upcoming Deadlines</div>
                <ul class="list-group">
                    <li class="list-group-item">Course Registration: Sept 5, 2024</li>
                    <li class="list-group-item">Midterm Exams: Oct 20-25, 2024</li>
                    <li class="list-group-item">Final Exams: Dec 15-20, 2024</li>
                </ul>
            </div>
        </br>    
            <!-- Term Dropdown -->
            <div class="row">
                <div class="col-12 term-dropdown">
                    <label for="termSelect" class="form-label">Select Term</label>
                    <select id="termSelect" class="form-select" onchange="filterTable()">
                        <option value="Fall 2021">Fall 2021</option>
                        <option value="Spring 2022">Spring 2022</option>
                        <option value="Fall 2022">Fall 2022</option>
                        <option value="Spring 2023">Spring 2023</option>
                        <option value="Fall 2023">Fall 2023</option>
                        <option value="Spring 2024">Spring 2024</option>
                        <option value="Fall 2024">Fall 2024</option>

                    </select>
                </div>
            </div>
            <!-- GPA Summary and Primary Curriculum -->
            <div class="row">
                <!-- GPA Summary -->        
                <!-- Primary Curriculum -->
                <div class="col-md-12">
                    <div class="primary-curriculum">
                        <div class="summary-header">Primary Curriculum <a href="https://www.iwu.edu/business-economics/academics/finance-requirements.html">View Details</a></div>
                        <div class="summary-box">
                            <p><strong>Level:</strong> Undergraduate</p>
                            <p><strong>Degree:</strong> Bachelor of Science</p>
                            <p><strong>Program:</strong> BS for Applied Science</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Course Work Table -->
            <div class="row coursework">
                <div class="col-12">
                    <table class="table table-bordered table-hover">
                        <thead class="table-light">
                            <tr>
                                <th>Subject</th>
                                <th>Course Title</th>
                                <th>Participation</th>
                                <th>Midterm Grade</th>
                                <th>Final Grade</th>
                                <th>Attempted Hours</th>
                                <th>Earned Hours</th>
                                <th>Quality Points</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="courseworkTable">
                            <!-- Spring 2024 Coursework -->
                            <tr data-term="Fall 2021">
                                <td>PSYC 100, 2</td>
                                <td>General Psychology</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2021">
                                <td>ART 130, 1</td>
                                <td>Painting I</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2021">
                                <td>PSYC 259, 2</td>
                                <td>Social Psychology</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <!--SPRING 2022-->
                            <tr data-term="Spring 2022" style="display: none;">
                                <td>PSYC 213, 1</td>
                                <td>Behavioral Neuroscience</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Spring 2022" style="display: none;">
                                <td>ENST 175, 1</td>
                                <td>Environmental Justice</td>
                                <td>A</td>
                                <td>B</td>
                                <td><span class="final-grade">B</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Spring 2022" style="display: none;">
                                <td>NEUR 110, 1</td>
                                <td>Foundations for Nonmajors</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Spring 2022" style="display: none;">
                                <td>ECON 100, 1</td>
                                <td>Introduction to Economics</td>
                                <td>A</td>
                                <td>A-</td>
                                <td><span class="final-grade">A-</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <!--SPRING 2023-->
                            <tr data-term="Spring 2023" style="display: none;">
                                <td>ACC 112, 2</td>
                                <td>Accounting/Decision Making I </td>
                                <td>B</td>
                                <td>C</td>
                                <td><span class="final-grade">B</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Spring 2023" style="display: none;">
                                <td>PSCI 101, 2</td>
                                <td>American Politics</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Spring 2023" style="display: none;">
                                <td>ECON 352, 1</td>
                                <td>International Finance</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Spring 2023" style="display: none;">
                                <td>HUM 104, 2</td>
                                <td>World of Ideas Modern Era</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <!-- FALL 2023 -->
                            <tr data-term="Fall 2023" style="display: none;">
                                <td>MATH 176, 4</td>
                                <td>Calculus I</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A-</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2023" style="display: none;">
                                <td>FIS 303, 2</td>
                                <td>Financial Management</td>
                                <td>B</td>
                                <td>A</td>
                                <td><span class="final-grade">B</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2023" style="display: none;">
                                <td>FIS 305, 1</td>
                                <td>Financial Statement Analysis</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2023" style="display: none;">
                                <td>BUS 331, 2</td>
                                <td>Marketing: Principles and Math</td>
                                <td>A</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2023" style="display: none;">
                                <td>PEC 118Y, 2</td>
                                <td>Tennis II</td>
                                <td>W</td>
                                <td>W</td>
                                <td><span class="final-grade">W</span></td>
                                <td>0.000</td>
                                <td>0.000</td>
                                <td>0.00</td>
                                <td>Withdraw</td>
                            </tr>
                            <!-- Spring 2024 -->
                            <tr data-term="Spring 2024" style="display: none;">
                                <td>PEC 121Y, 4</td>
                                <td>Pilates</td>
                                <td>ONLINE</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Spring 2024" style="display: none;">
                                <td>FREN 201, 1</td>
                                <td>Intermediate French I</td>
                                <td>ONLINE</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Spring 2024" style="display: none;">
                                <td>PSCI 304, 1</td>
                                <td>Transitional Justice</td>
                                <td>ONLINE</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Spring 2024" style="display: none;">
                                <td>PSCI 301, 1</td>
                                <td>Studies - Culture</td>
                                <td>ONLINE</td>
                                <td>A</td>
                                <td><span class="final-grade">A</span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <!-- FALL 2024 -->
                            <tr data-term="Fall 2024" style="display: none;">
                                <td>PHYS 020.3</td>
                                <td>AP Physics C - Mechanics</td>
                                <td>P</td>
                                <td></td>
                                <td><span class="final-grade"></span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2024" style="display: none;">
                                <td>BUS 355, 1</td>
                                <td>Business Law I</td>
                                <td>P</td>
                                <td></td>
                                <td><span class="final-grade"></span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2024" style="display: none;">
                                <td>FIS 306, 1</td>
                                <td>Financial Modeling</td>
                                <td>P</td>
                                <td></td>
                                <td><span class="final-grade"></span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2024" style="display: none;">
                                <td>FIS 409, 1</td>
                                <td>Portfolio Management</td>
                                <td>P</td>
                                <td></td>
                                <td><span class="final-grade"></span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2024" style="display: none;">
                                <td>PEC 233, 1</td>
                                <td>Tap Dance II</td>
                                <td>P</td>
                                <td></td>
                                <td><span class="final-grade"></span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                            <tr data-term="Fall 2024" style="display: none;">
                                <td>PEC 119, Y</td>
                                <td>Tennis II</td>
                                <td>P</td>
                                <td></td>
                                <td><span class="final-grade"></span></td>
                                <td>1.000</td>
                                <td>1.000</td>
                                <td>1.00</td>
                                <td>Registered</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript for filtering coursework by term -->
<script>
    function filterTable() {
        var selectedTerm = document.getElementById("termSelect").value;
        var tableRows = document.querySelectorAll("#courseworkTable tr");
        
        tableRows.forEach(function(row) {
            if (row.getAttribute("data-term") === selectedTerm) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>



{% endblock content%}